
/* @font-face {
  font-family: "Aktiv";
  src: local('Aktiv'),  url('./fonts/aktiv-grotesk.otf') format('opentype'); 
  font-weight: 400; 
}  
@font-face {
  font-family: "Aktiv";
  src: local('Aktiv'),  url('./fonts/aktiv-grotesk-bold.otf') format('opentype'); 
  font-weight: 700; 
} 
@font-face {
  font-family: "Aktiv";
  src: local('Aktiv'),  url('./fonts/aktiv-grotesk-medium.otf') format('opentype'); 
  font-weight: 500; 
} */
